body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-scheduler .Appointment-appointment {
  background-color: rgba(80, 145, 197, 0.6);
}

.appointment-item {
  color: white;
  padding: 4px;
  height: 100%;
}

.appointment-item a {
  color: white;
  text-decoration: none;
}

.appointment-title {
  font-weight: bold;
}

.recorded-streamed {
  font-weight: bold;
}

.recorded-streamed-Yes {
  color: darkgreen;
}
.recorded-streamed-Yes::after {
  content: "✓";
}

.recorded-streamed-No {
  color: darkred;
}
.recorded-streamed-No::after {
  content: "✘";
}

.recorded-streamed-Unknown {
  color: lightgray;
}
.recorded-streamed-Unknown::after {
  content: "?";
}

#main-scheduler .higher-time-table-cell {
  height: 92px;
}

#main-scheduler .higher-time-label {
  height: 92px;
  line-height: 90px;
}

#main-scheduler .higher-time-label:first-child {
  height: 46px;
}

#main-scheduler .higher-time-label:last-child {
  height: 46px;
}
